# Environment variables
.env
.env.local

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build outputs
dist/
build/
.vercel

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
